@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		font-family: Roboto;
	}
	h1 {
		@apply text-3xl;
	}
	h2 {
		@apply text-2xl;
	}
	h3 {
		@apply text-xl;
	}
	ul,
	ol {
		list-style: revert;
		list-style-position: inside;
	}
	/* ... */
}

@layer components {
	#title-viumi {
		@apply text-left;
		@apply lg:text-center;
	}
	#important-info-component {
		@apply bg-[#f6f4fa];
	}
	#modal-title {
		@apply text-[#4527A0];
		@apply font-bold;
		@apply justify-self-start;
	}
	#dialog-modal {
		@apply rounded-md;
	}
	#diagol-modal-footer {
		@apply grid;
		@apply grid-flow-col;
		@apply gap-x-4;
		@apply justify-end;
		@apply pt-4;
		@apply pb-0;
		@apply pl-0;
		@apply pr-0;
		@apply border-t;
		@apply border-[#0000000d];
	}
	#close-modal-btn {
		@apply text-[#4527A0];
		@apply font-bold;
	}
}
