@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		font-family: Roboto;
	}
	h1 {
		@apply text-3xl;
	}
	h2 {
		@apply text-2xl;
	}
	h3 {
		@apply text-xl;
	}
	ul,
	ol {
		list-style: revert;
		list-style-position: inside;
	}
	/* ... */
}

@layer components {
	#title-viumi {
		@apply text-left;
		@apply lg:text-center;
		@apply text-[#2B2B2B];
		@apply font-[500];
	}
	#important-info-component {
		@apply bg-[#f6f4fa];
	}
	#modal-title {
		@apply text-[#4527A0];
		@apply font-bold;
		@apply justify-self-start;
	}
	#dialog-modal {
		@apply rounded-md;
	}
	#diagol-modal-footer {
		@apply flex;
		@apply justify-center;
		@apply flex-col;
		@apply lg:flex-row;
		@apply gap-y-4;
		@apply lg:gap-y-0;
		@apply gap-x-4;
		@apply lg:justify-end;
		@apply pt-4;
		@apply pb-0;
		@apply pl-0;
		@apply pr-0;
		@apply border-t;
		@apply border-[#0000000d];
	}
	#close-modal-btn {
		@apply text-[#4527A0];
		@apply font-bold;
	}
	#back-button-viumi {
		@apply lg:text-center;
		@apply text-[#4527A0];
		@apply font-bold;
		@apply mt-6;
		@apply w-fit;
		@apply justify-self-center;
	}
	#back-icon-viumi {
		@apply hidden;
		@apply justify-self-start;
		@apply lg:block;
	}
	#close-modal-btn-2 {
		color: red;
		text-decoration: dashed;
	}
	#stay-in {
		@apply text-white;
		@apply font-bold;
		@apply bg-[#4527A0];
		@apply p-2;
		@apply lg:py-2;
		@apply lg:px-6;
		@apply rounded-[20px];
	}
}
